.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
#root,
#root > div {
  /* background-color: #f6f8ff; */
  margin: 0;
  height: 100%;
  background-color: #c5e4e7;
}
@media screen and (max-width: 500px) {
  html,
  #root,
  #root > div {
    /* background-color: #f6f8ff; */
    margin: 0;
    background-color: #c5e4e7;
  }
}
