.Calculator {
  width: 920px;
  height: 481px;
  border-radius: 25px;
  background-color: #ffffff;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
}

h4,
h5,
p {
  font-family: "Space Mono", monospace;
}

.Controller-Container {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.Controller-Container h5,
h4 {
  font-size: 16px;
  font-weight: bold;
  color: #5e7a7d;
  margin-bottom: 1rem;
}

.BillInput img {
  position: absolute;
  margin-top: 1rem;
  margin-left: 1rem;
}

.NumberOfPeopleInput img {
  position: absolute;
  margin-top: 1rem;
  margin-left: 1rem;
}

#bill,
#NumPeople {
  border: none;
  font-family: "Space Mono", monospace;
  background-color: #f3f9fa;
  width: 362px;
  height: 48px;
  font-size: 24px;
  font-weight: bold;
  color: #00474b;
  text-align: right;
  padding-right: 1.2rem;
}

#bill:focus {
  outline-color: #26c2ae;
}

#CustomTip:focus {
  outline-color: #26c2ae;
}
#CustomTip:hover {
  cursor: pointer;
}

#NumPeople:focus {
  outline-color: #26c2ae;
}

.NumPeople {
  border: none;
  font-family: "Space Mono", monospace;
  background-color: #f3f9fa;
  width: 362px;
  height: 48px;
  font-size: 24px;
  font-weight: bold;
  color: #00474b;
  text-align: right;
  padding-right: 1.2rem;
}
.NumPeople {
  outline-color: #26c2ae;
}
.error {
  outline-color: red;
}

.Tip-Selector {
  width: 400px;
  height: 152px;
}
button {
  width: 117px;
  height: 48px;
  background-color: #00474b;
  color: #fff;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
#CustomTip {
  font-family: "Space Mono", monospace;
  width: 107px;
  height: 48px;
  background-color: #f3f9fa;
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  color: #00474b;
  text-align: right;
  padding-right: 10px;
}

button:hover {
  cursor: pointer;
}

.Active {
  background-color: #26c2ae;
  color: #00474b;
}

button:hover {
  background-color: #26c2ae;
  color: #00474b;
}

.result {
  width: 413px;
  height: 417px;
  background-color: #00474b;
  border-radius: 15px;
  margin-left: 2.5rem;
  margin-top: 2.5rem;
}

.TipAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 1rem;
}

.TipAmount p {
  font-size: 16px;
  font-weight: bold;

  color: #fff;
}

.TipAmount h3 {
  font-size: 48px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  color: #26c2ae;
}

.person {
  font-size: 13;
  font-weight: bold;
  color: #7f9d9f;
}

.PersonAmount p {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.PersonAmount h3 {
  font-size: 48px;
  font-weight: bold;
  font-family: "Space Mono", monospace;
  color: #26c2ae;
}

.PersonAmount {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 0;
}

.Reset {
  margin-top: 8rem;
  margin-left: 2.5rem;
  width: 333px;
  height: 48px;
  background-color: #26c2ae;
  color: #00474b;
}

.Reset:hover {
  background-color: #9fe8df;
}
